.odd {
    font-weight: bolder;
}

.data-name {
    color: white;
}
.data-name span {
    color: orange;
    cursor: pointer;
    margin-right: 15px;
}
td {
    text-align: center !important;
}

.data-total {
    color: #ff9d00;
}

.data-deceased {
    color: #f65164;
}

.data-recovered {
    color: rgb(101, 221, 155);
}

.data-active {
    color: rgb(248, 245, 64);
}
tr {
    display: flex;
    width: 100%;
}

th.name-width {
    padding-left: 20px;
}

.name-width {
    flex: 1;
    text-align: left !important;
}

.total-width {
    flex: 1;
}

.death-width {
    flex: 1;
}

.recovered-width {
    flex: 1;
}

.active-width {
    flex: 1;
}

@media only screen and (max-width: 800px) {
    th {
        padding-top: 7px;
        padding-left: 20px;
        overflow-wrap: break-word;
        font-size: x-small;
    }
    .name-width {
        flex: 1;
        min-width: 100px;
    }

    td.name-width {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .total-width {
        flex: 1;
        max-width: 70px;
    }
    .death-width {
        flex: 1;
        max-width: 70px;
    }
    .recovered-width {
        flex: 1;
        max-width: 70px;
    }

    .active-width {
        flex: 1;
        max-width: 70px;
    }
}
