.odd {
  font-weight: bolder;
}

.data-name {
  color: white;
}
.data-name span {
  color: orange;
  cursor: pointer;
  margin-right: 20px;
}

.data-total {
  color: #ff9d00;
}

.data-deceased {
  color: #f65164;
}

.data-recovered {
  color: rgb(101, 221, 155);
}

.data-active {
  color: rgb(248, 245, 64);
}

.name-width {
  width: 180px;
}

.total-width {
  width: 100px;
}

.death-width {
  width: 100px;
}

.recovered-width {
  width: 80px;
}

.active-width {
  width: 80px;
}

@media only screen and (max-width: 600px) {
  .name-width {
    width: 22%;
  }

  .total-width {
    width: 9%;
  }
  .death-width {
    width: 9%;
  }
  .recovered-width {
    width: 8%;
  }

  .active-width {
    width: 9%;
  }
}
