$gray: #6c757d;
$gray-light: #6c757d10;
$gray-light-opaque: #f6f6f7;
$gray-hover: #6c757d20;
$gray-mid: #6c757d99;
$gray-dark: #343a40;
$gray-opaque: #f1f1f1;
.tabs {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 99;

  .tab {
    background: $gray-light;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $gray-mid;
    cursor: pointer;
    height: 3.25rem;
    margin-right: 0.25rem;
    min-width: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: $gray-hover;
    }

    &.focused {
      background: $gray-opaque;
      color: $gray;
    }
  }
}
